@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212129;
}

html,
body {
  font-family: var(--raleway-font);
}

.bg-landingPage{
  background: url('../assets/LandingPageBg.svg');
  background-repeat: no-repeat;
  
}